<div class="pokedex__header">
    <div class="pokedex__header__lights">
        <div class="pokedex__header__lights__bigLight"></div>
        <div class="pokedex__header__lights__smallLight pokedex__header__lights__smallLight--red"></div>
        <div class="pokedex__header__lights__smallLight pokedex__header__lights__smallLight--yellow"></div>
        <div class="pokedex__header__lights__smallLight pokedex__header__lights__smallLight--green"></div>
    </div>
    <div class="pokedex__header_separator">
        <svg height="100" width="100%" class="left-svg">
            <polyline points="0,45 170,45 220,0 350,0"
                style="fill: none; stroke: rgba(0, 0, 0, .5); stroke-width: 14" />
        </svg>
    </div>
</div>