<div class="pokedex__buttons">
    <div class="pokedex__buttons__left">
        <div class="pokedex__buttons__left__analog"></div>
    </div>
    <div class="pokedex__buttons__center">
        <div class="pokedex__buttons__center__top">
            <div class="pokedex__buttons__center__top__light pokedex__buttons__center__top__light-red"></div>
            <div class="pokedex__buttons__center__top__light pokedex__buttons__center__top__light-blue"></div>
        </div>
        <div class="pokedex__buttons__center__bottom">
            <div class="pokedex__buttons__center__bottom__screen">
                <p>{{ pokemonName.name }}</p>
            </div>
        </div>
    </div>
    <div class="pokedex__buttons__right">
        <div class="pokedex__buttons__right__container">
            <div></div>
            <div class="pokedex__buttons__right__container__button pokedex__buttons__right__container__button-top"></div>
            <div></div>
            <div class="pokedex__buttons__right__container__button pokedex__buttons__right__container__button-left"></div>
            <div class="pokedex__buttons__right__container__button-center"></div>
            <div class="pokedex__buttons__right__container__button pokedex__buttons__right__container__button-right"></div>
            <div></div>
            <div class="pokedex__buttons__right__container__button pokedex__buttons__right__container__button-bottom"></div>
            <div></div>
        </div>
    </div>
</div>