.pokedex {
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 350px;
  height: 500px;
  background-color: rgb(214, 26, 51);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  box-shadow: 10px 10px 1px rgb(116, 0, 0);
}

.pokedex__header__lights {
  padding: 10px;
  display: flex;
}

.pokedex__header__lights__bigLight {
    margin-left: 10px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background: radial-gradient(
        closest-corner at 20px 20px,
        #ffffff 10%,
        #48b4e2 40%,
        #0c6f99 100%
    );
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 3px 6px 1px rgba(0, 0, 0, 0.5);
}

.pokedex__header__lights__smallLight {
  margin-top: 2px;
  margin-right: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.5);
}

.pokedex__header__lights__smallLight--red {
  background: radial-gradient(
    closest-corner at 4px 4px,
    #fcb9b9 5%,
    #f00000 70%,
    #860000 100%
  );
}

.pokedex__header__lights__smallLight--yellow {
  background: radial-gradient(
    closest-corner at 4px 4px,
    #ffffff 5%,
    #ffbb00 70%,
    #a85f00 100%
  );
}

.pokedex__header__lights__smallLight--green {
  background: radial-gradient(
    closest-corner at 4px 4px,
    #ffffff 5%,
    #3bbb00 70%,
    #216800 100%
  );
}

.pokedex__header_separator {
    position: relative;
    bottom: 10px;
    width: 100%;
    height: 20px; 
    display: flex;
}

.left-svg {
  position: relative;
  bottom: 25px;
}

// end of pokedex header

.pokedex__screen__container {
  width: 270px;
  height: 220px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(235, 235, 235);
  border-radius: 7px 7px 7px 30px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  box-shadow: 3px 6px 1px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

.pokdex__screen__container__toplights {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokdex__screen__container__toplights__light {
  position: relative;
  left: 15px;
  width: 10px;
  height: 10px;
  margin-right: 30px;
  background: radial-gradient(
    closest-corner at 3px 3px,
    #fcb9b9 5%,
    #f00000 70%,
    #a00000 100%
  );
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.pokdex__screen__container__screen {
  width: 100%;
}

.pokedex__screen_container__screen__display {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: rgba(7, 12, 4, 0.8);
  box-shadow: inset 4px 6px 1px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.pokdex__screen__container__bottomelements {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokdex__screen__container__bottomelements__ligth {
    position: relative;
    left: 30px;
    width: 15px;
    height: 15px;
    background: radial-gradient(
    closest-corner at 4px 4px,
    #fcb9b9 5%,
    #ff1616 70%,
    #b10000 100%
  );
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.pokdex__screen__container__bottomelements__speaker {
    position: relative;
    right: 27px;
    width: 30px;
    height: 25px;
    background-image: repeating-linear-gradient(
        rgb(235, 235, 235) 2px,
        rgb(235, 235, 235) 4px,
        black 6px,
        black 5px,
     
    )
}

// end of pokedex screen

.pokedex__buttons {
  width: 270px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr
}

.pokedex__buttons__left__analog {
    position: relative;
    top: 5px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(60, 60, 60);
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 1px solid black;
}

.pokedex__buttons__center {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.pokedex__buttons__center__top {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}

.pokedex__buttons__center__top__light {
    width: 37px;
    height: 5px;
    border-radius: 2px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.pokedex__buttons__center__top__light-red {
    background-color: rgb(235, 35, 0);
    border: 1px solid black;
}

.pokedex__buttons__center__top__light-blue {
    background-color: rgb(0, 74, 212);
    border: 1px solid black;
}

.pokedex__buttons__center__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex__buttons__center__bottom__screen {
    width: 100px;
    height: 60px;
    background-color: rgb(98, 177, 83);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.pokedex__buttons__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex__buttons__right__container {
    position: relative;
    left: 20px;
    width: 80px;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "pokedex__buttons__right__container__button"
    "pokedex__buttons__right__container__button pokedex__buttons__right__container__button"
    "pokedex__buttons__right__container__button";
}

.pokedex__buttons__right__container__button, .pokedex__buttons__right__container__button-center {
    background-color: rgb(60, 60, 60);
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
}

.pokedex__buttons__right__container__button-top {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.pokedex__buttons__right__container__button-left {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.pokedex__buttons__right__container__button-right {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.pokedex__buttons__right__container__button-bottom {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
