<div class="pokedex">
    <div class="pokedex__header">
        <div class="pokedex__header__lights">
            <div class="pokedex__header__lights__bigLight"></div>
            <div class="pokedex__header__lights__smallLight pokedex__header__lights__smallLight--red"></div>
            <div class="pokedex__header__lights__smallLight pokedex__header__lights__smallLight--yellow"></div>
            <div class="pokedex__header__lights__smallLight pokedex__header__lights__smallLight--green"></div>
        </div>
        <div class="pokedex__header_separator">
            <svg height="100" width="100%" class="left-svg">
                <polyline points="0,45 170,45 220,0 350,0"
                    style="fill: none; stroke: rgba(0, 0, 0, .5); stroke-width: 14" />
            </svg>
        </div>
    </div>
    <!-- End of header area -->
    <div class="pokedex__screen__container">
        <div class="pokdex__screen__container__toplights">
            <div class="pokdex__screen__container__toplights__light"></div>
            <div class="pokdex__screen__container__toplights__light"></div>
        </div>
        <div class="pokdex__screen__container__screen">
            <div class="pokedex__screen_container__screen__display"></div>
        </div>
        <div class="pokdex__screen__container__bottomelements">
            <div class="pokdex__screen__container__bottomelements__ligth"></div>
            <div class="pokdex__screen__container__bottomelements__speaker"></div>
        </div>
    </div>
    <div class="pokedex__buttons">
        <div class="pokedex__buttons__left">
            <div class="pokedex__buttons__left__analog"></div>
        </div>
        <div class="pokedex__buttons__center">
            <div class="pokedex__buttons__center__top">
                <div class="pokedex__buttons__center__top__light pokedex__buttons__center__top__light-red"></div>
                <div class="pokedex__buttons__center__top__light pokedex__buttons__center__top__light-blue"></div>
            </div>
            <div class="pokedex__buttons__center__bottom">
                <div class="pokedex__buttons__center__bottom__screen"></div>
            </div>
        </div>
        <div class="pokedex__buttons__right">
            <div class="pokedex__buttons__right__container">
                <div></div>
                <div class="pokedex__buttons__right__container__button pokedex__buttons__right__container__button-top"></div>
                <div></div>
                <div class="pokedex__buttons__right__container__button pokedex__buttons__right__container__button-left"></div>
                <div class="pokedex__buttons__right__container__button-center"></div>
                <div class="pokedex__buttons__right__container__button pokedex__buttons__right__container__button-right"></div>
                <div></div>
                <div class="pokedex__buttons__right__container__button pokedex__buttons__right__container__button-bottom"></div>
                <div></div>
            </div>
        </div>
    </div>
</div>