<div class="pokedex">
    <div class="pokedex__header">
        <div class="pokedex__header__lights">
            <div class="pokedex__header__lights__biglight"></div>
            <div class="pokedex__header__lights__smalllight pokedex__header__lights__smalllight--red"></div>
            <div class="pokedex__header__lights__smalllight pokedex__header__lights__smalllight--yellow"></div>
            <div class="pokedex__header__lights__smalllight pokedex__header__lights__smalllight--green"></div>
        </div>
        <div class="pokedex__header_separator">
            <svg height="100" width="100%" class="left-svg">
                <polyline
                    points="0,30 150,30 190,0 350,0"
                    style="fill: none; stroke: rgba(0, 0, 0, .5); stroke-width: 3"
                />
            </svg>
        </div>
    </div>
</div>


