.pokedex {
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 350px;
    height: 500px;
    background-color: rgb(214, 26, 51);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 1px rgb(116, 0, 0);
  }