<div class="pokedex">
    <div class="pokedex__header">
        <div class="pokedex__header__lights">
            <div class="pokedex__header__lights__bigLight"></div>
            <div class="pokedex__header__lights__smallLight pokedex__header__lights__smallLight--red"></div>
            <div class="pokedex__header__lights__smallLight pokedex__header__lights__smallLight--yellow"></div>
            <div class="pokedex__header__lights__smallLight pokedex__header__lights__smallLight--green"></div>
        </div>
        <div class="pokedex__header_separator">
            <svg height="100" width="100%" class="left-svg">
                <polyline points="0,30 150,30 190,0 350,0"
                    style="fill: none; stroke: rgba(0, 0, 0, .5); stroke-width: 10" />
            </svg>
        </div>
    </div>
    <!-- End of header area -->
    <div class="pokedex__screen__container">
        <div class="pokdex__screen__container__toplights">
            <div class="pokdex__screen__container__toplights__light"></div>
            <div class="pokdex__screen__container__toplights__light"></div>
        </div>
        <div class="pokdex__screen__container__screen">
            <div class="pokedex__screen_container__screen__display"></div>
        </div>
        <div class="pokdex__screen__container__bottomelements"></div>
    </div>
    <div class="pokedex__buttons"></div>
</div>